<!-- Delete Modal -->
<div class="modal fade" id="deleteModelModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete model named {{model?.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <a type="submit" class="btn btn-primary" (click)="deleteModel(model.id)" data-dismiss="modal">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal End -->

<!-- Add Modal End -->
<div class="modal fade" id="addModelModal" tabindex="-1" role="dialog" aria-labelledby="addModelModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModelModalLabel">New Model</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="" class="col-form-label">Model Name</label>
          <input type="text" [(ngModel)]="modelNameForAdd" class="form-control" id="name" autofocus>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addModel()">Create Model</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Add Modal End -->

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#addModelModal">Create
        Model</button>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4 class="fc-header-title">Model Models</h4>

      <div class="table-responsive">
        <table class="table text-center">
          <thead class="text-uppercase bg-primary">
            <tr class="text-white">

              <th scope="col">Name</th>
              <th scope="col">Delete</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of models">
              <td class="">{{model.name}}</td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                  data-target="#deleteModelModal" (click)="setValueFromModal(model)">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>